<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
    {% extends "base.html" %}
    {% block title %}로그인{% endblock %}
    {% block content %}
    <div class="card">
    <div class="card-body text-center">
        <h3 class="mb-4 fw-bold">📚 MoodBook 로그인</h3>
        <form method="POST">
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="아이디" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="비밀번호" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">로그인</button>
        </form>
        <p class="mt-3 mb-0">
        계정이 없으신가요? <a href="/register" class="text-decoration-none fw-semibold">회원가입</a>
        </p>
    </div>
    </div>
    {% endblock %}

</body>
</html>
